<div class="row">
	<div class="temp-menuesquerda">
		<div class="temp-menuesquerda-item"><%= link_to "Usuários" , usuarios_path %></div>
		<div class="temp-menuesquerda-item"><%= link_to "Clientes" , clientes_path %></div>
		<div class="temp-submenuesquerda">
			<div><%= link_to "Todos" , clientes_path %></div>
			<div><%= link_to "Novo" , new_cliente_path %></div>
		</div>
		<div class="temp-menuesquerda-item"><%= link_to "Pizzas" , pizzas_path %></div>
	</div>
</div>