<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pizza.nome %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @pizza.foto %>
</p>

<p>
  <strong>Ingredientes:</strong>
  <%= @pizza.ingredientes %>
</p>

<p>
  <strong>Precop:</strong>
  <%= @pizza.precop %>
</p>

<p>
  <strong>Precom:</strong>
  <%= @pizza.precom %>
</p>

<p>
  <strong>Precog:</strong>
  <%= @pizza.precog %>
</p>

<%= link_to 'Edit', edit_pizza_path(@pizza) %> |
<%= link_to 'Back', pizzas_path %>
