<div class="col-md-2 temp-nav">
    <%= render 'menu' %>
</div>
<div class="col-md-10">
  <div class="row">
    <% if @usuario.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

        <ul>
          <% @usuario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <h1>Editar <%= @usuario.email%> </h1>
  <%= render 'form' %>
</div>