<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @sale.cliente %>
</p>

<p>
  <strong>Tiporetirada:</strong>
  <%= @sale.tiporetirada %>
</p>

<p>
  <strong>Obsentrega:</strong>
  <%= @sale.obsentrega %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sale.status %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @sale.valor %>
</p>

<p>
  <strong>Fpagamento:</strong>
  <%= @sale.fpagamento %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
