<!DOCTYPE html>
<html>
<head>
  <title>Pizzaria</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<%= link_to 'Usuários', usuarios_path %>
	<%= link_to 'Clientes', clientes_path %>
	<%= link_to 'Pizzas', pizzas_path %>
	<%= yield %>
</div>

</body>
</html>
